@{
    ViewBag.Title = "Change Password";
}
<div class="grid_8">
    <div id="gridcontentmargin15">
        <h2>
            Change Password
        </h2>
        <p>
            Your password has been changed successfully.
        </p>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gridcontentmargin15 p").effect("highlight", { color: "#FFFF01" }, 5000);
    });
</script>
